PUBLIC_SITE_ORIGIN=http://localhost:3000
STUDIO_SITE_ORIGIN=http://studio.localhost:3000
ADMIN_BOOTSTRAP_TOKEN=
NOTIFICATION_DELIVERY_MODE=local_outbox
MEDIA_DERIVATIVE_DISPATCH_MODE=local_browser
RATE_LIMIT_MODE=d1_strict
AUTH0_GATEWAY_ENABLED=false
AUTH0_ISSUER=
AUTH0_MOBILE_CLIENT_ID=
AUTH0_AUDIENCE=
AD_RUNTIME_MODE=google_test
