PUBLIC_SITE_ORIGIN=http://localhost:3000
STUDIO_SITE_ORIGIN=http://studio.localhost:3000
ADMIN_BOOTSTRAP_TOKEN=
NOTIFICATION_DELIVERY_MODE=local_outbox
PUSH_DELIVERY_MODE=disabled
FCM_PROJECT_ID=
FCM_CLIENT_EMAIL=
FCM_PRIVATE_KEY=
MEDIA_DERIVATIVE_DISPATCH_MODE=local_browser
RATE_LIMIT_MODE=d1_strict
AUTH0_GATEWAY_ENABLED=false
AUTH0_ISSUER=
AUTH0_MOBILE_CLIENT_ID=
AUTH0_AUDIENCE=
AUTH0_MOBILE_REDIRECT_URIS=panelya://auth/callback
AUTH0_WEB_CLIENT_ID=
AUTH0_WEB_CLIENT_SECRET=
AUTH0_WEB_REDIRECT_URIS=
AUTH0_MANAGEMENT_CLIENT_ID=
AUTH0_MANAGEMENT_CLIENT_SECRET=
AUTH0_MANAGEMENT_AUDIENCE=
AUTH0_DATABASE_CONNECTION=Username-Password-Authentication
ACCOUNT_RUNTIME_SECRET=
AD_RUNTIME_MODE=google_test
LOCAL_DUMMY_CATALOG=
